apiVersion: v1
kind: Secret
metadata:
  name: catalog-secret
  labels:
    ai-services.io/application: "{{ .AppName }}"
    ai-services.io/template: "{{ .AppTemplateName }}"
    ai-services.io/version: "{{ .Version }}"
type: Opaque
data:
  admin-password: {{ .Values.backend.adminPasswordHash }}
  db-password: {{ .Values.db.password }}
