apiVersion: v1
kind: Secret
metadata:
  name: litellm-secret
  labels:
    ai-services.io/application: "{{ .AppName }}"
    ai-services.io/template: "{{ .AppTemplateName }}"
    ai-services.io/version: "{{ .Version }}"
type: Opaque
stringData:
  master-key: "{{ .Values.litellm.masterKey }}"
  salt-key: "{{ .Values.litellm.saltKey }}"
