{{- if .Values.litellm.key }}
apiVersion: v1
kind: Secret
metadata:
  name: "litellm-secret-{{ .InstanceSlug }}"
  labels:
    ai-services.io/template: "{{ .TemplateID }}"
type: Opaque
stringData:
  LITELLM_VIRTUAL_KEY: "{{ .Values.litellm.key }}"
{{- end }}
